.publisherHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.publisherDetails {
  font-weight: 700;
  font-size: 30px;
  font-family: sans-serif;
  color: #eefef1;
}

.addDomainBtn {
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: bold;
  color: #7bed9f;
  background-color: transparent;
  border: solid 3px #7bed9f;
  border-radius: 24px;
}

.deletePublisherBtn {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 4px;
  margin-left: 10px;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: bold;
  color: #eb3b5a;
  background-color: #ea8685;
  border: solid 2px #eb3b5a;
  border-radius: 24px;
}

.publisher-card-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 300px;
}
